@charset "UTF-8";

#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: var(--fundo_01);
    box-shadow: 0px 0px 3px #00000057;

    z-index: 10;
}

#monitor {
    width: 800px;
    height: 600px;
}