body {
  background: lightblue;
}
.form {
  background: rgb(0, 83, 110);
  color: #fff;
  font-size: 1em;
  border-radius: 10px;
  margin: 10vh auto;
  padding: 20px;
  max-width: 40rem;
  text-align: center;
  box-shadow: inset rgba(0, 0, 0, 0.658) 0px 0px 30px;
}
label {
  display: none;
}
.input {
  margin: 10px;
  width: 80%;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.125rem;
  outline: none;
  overflow: none;
  border: white solid 1px;
}